.Rproj.user
.Rhistory
.RData
.Ruserdata
/_book/
/_freeze/
/.quarto/
index.log
index.tex
*.html
*_files/
*.rmarkdown
*.knit.md
site_libs/
.Renviron
/impact_analysis/
/analise_de_impacto/
/en_book/
/en_freeze/
/pt/
*.pdf
/pdf_en_freeze/
/pdf_pt_freeze/
*.docx
/docx_en_freeze/
/docx_pt_freeze/
rjavaenv/
